services:
    welante-admin-back:
        container_name: welante-admin-back
        build: ./docker/backend
        volumes:
            - ./backend:/var/www/backend
            - welante-admin-back_vendor:/var/www/backend/vendor
        working_dir: /var/www/backend
        ports:
            - "8181:80"
        networks:
            - welante-admin-network
        depends_on:
            - welante-admin-db

    welante-admin-db:
        container_name: welante-admin-db
        build:
          dockerfile: ./docker/db/Dockerfile
          context: .
        environment:
            MYSQL_DATABASE: app
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "8282:3306"
        networks:
            - welante-admin-network
        volumes:
            - welante-admin-db_data:/var/lib/mysql

    welante-admin-front:
        container_name: welante-admin-front
        image: node:18
        working_dir: /app
        volumes:
            - ./frontend:/app
        command: sh -c "npm install && npm start"
        ports:
            - "3000:3000"
        networks:
            - welante-admin-network

volumes:
    welante-admin-db_data:
    welante-admin-back_vendor:

networks:
    welante-admin-network:
        name: welante-admin-network
